@model SaintMalachy.Models.BaptismRequestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Baptism Request Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BaptismDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaptismDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DinnerDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DinnerDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChildLastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChildLastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChildName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChildName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChildDateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChildDateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChildPlaceOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChildPlaceOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FatherFullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FatherFullName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MotherFirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MotherFirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MotherMaidenName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MotherMaidenName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ParentsMarried)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParentsMarried)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChurchMarriage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChurchMarriage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ParentsConfirmed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParentsConfirmed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CityState)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CityState)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GodfatherName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GodfatherName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GodfatherReligion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GodfatherReligion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GodfatherConfirmed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GodfatherConfirmed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GodmotherName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GodmotherName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GodmotherReligion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GodmotherReligion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GodmotherConfirmed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GodmotherConfirmed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CommentsQuestions)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommentsQuestions)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
